<!-- Footer -->

<div class="footer_wrapper">

<footer class="row">
<div class="large-12 columns">
  <div class="row">
    <div class="large-6 columns">
      <p>© Copyright Thompsons Rentals 2014</p>
    </div>
    <div class="large-6 columns">
      <ul class="inline-list left">
        <li><a href="#"><img src="assets/fc-webicon-facebook.png"></a></li>
        <li><a href="#"><img src="assets/fc-webicon-twitter.png"></a></li>
        <li><a href="#"><img src="assets/fc-webicon-googleplus.png"></a></li>
        <li><a href="#"><img src="assets/fc-webicon-mail.png"></a></li>
        <li><a href="#"><img src="assets/fsb_logo.jpg"></a></li>
      </ul>
    </div>
  </div>
</div>
</footer>

</div>