<!-- header start -->

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a class="show-for-medium-up" href="#">Thompsons Rentals</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
        <li class="active"><a href="#">About Us</a></li>
      <li class="has-dropdown">
        <a href="#">Price Guide</a>
        <ul class="dropdown">
          <li><a href="#">Washers Price Guide</a></li>
          <li><a href="#">Dryers Price Guide</a></li>
          <li><a href="#">Dishwashers Price Guide</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#">Contact Us</a>
        <ul class="dropdown">
          <li><a href="#">Tel: 01642 788123</a></li>
          <li><a href="#">Mobile: 07825 407 607</a></li>
          <li><a href="#">Email: enquiries@thompsonsrentals.co.uk</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#">Leave Feedback</a>
        <ul class="dropdown">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>

<!-- header end -->